:root{
--GrayDark: hsl(270, 9%, 17%);
--GrayMedium: hsl(273, 4%, 51%);
--GrayLight: hsl(0, 0%, 98%);
}
* {
    max-width: 100%;
    box-sizing: border-box;
}

body{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

#mobile-nav{
    display:inline-block;
    padding: 3px;
    align-content:end;
    border: solid black 2px;
}
#header-mobile-nav {
    padding: 24px 16px 16px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

#mobile-nav {
    font-size: 1em; 
    margin: 0 0.25em; 
    cursor: pointer;
}

#header-bottom-nav {
    background-color: var(--GrayDark);
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1;
    width: 100%;
}

#header-bottom-nav a {
    font-size: 1.2em;
    display: block;
    padding: 20px;
    text-decoration:none;
    color: white;
    font-weight: 700;
    text-align: center;
    border: solid var(--GrayDark) 2px;
}

#header-bottom-nav .active, #header-bottom-nav a:hover {
    border: solid white 2px;
}
#jumbotron-text {
    padding: 100px 40px;
    text-align: center;
    background-color: var(--GrayDark);
    color: white;
}
#jumbotron-text h1 {
    font-size: 2.5em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 30px 0;
}
#jumbotron-text h2 {
    font-size: 1.7em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 30px 0;
}
#jumbotron-text p {
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: 300;
    margin: 30px 0;
}
#family{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.btn {
    padding: 12px 24px 10px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
main {
    padding: 0 40px 50px;
    text-align: center;
    background-color: white;
    color: white;
}
main h1 {
    font-size: 2.5em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 30px 0;
    color: var(--GrayDark);
}
main h2 {
    font-size: 1.7em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 30px 0;
    color: var(--GrayDark);
}
main p {
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 300;
    margin: 30px 0;
    color: var(--GrayMedium);
}
#about {
    margin: 0 auto 50px;
    text-align: center;
    background-color: var(--GrayDark);
    color: white;
    width: 90%;
    height: 100%;
    padding-bottom: 2em;
    padding: 50px 0 80px;
}
#about h1 {
    font-size: 2.5em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 30px 0;
}
#about h2 {
    font-size: 1.7em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 30px 0;
}
#about p {
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: 300;
    margin: 30px 0;
}



 /* desktop view footer */
@media (min-width: 762px) {
    footer {
    background-color: white;
    text-align: center;
    padding: 20px 40px;
    border-top: 1px solid white;
    color: var(--GrayDark);
}
#mobile-nav {
    display: none;
}

footer h3 {
    color: var(--GrayDark);
    margin: 20px 0;
}

footer a {
    color: black;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
}

#footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#social a {
    margin-left: 15px;
    font-size: 1.5em;
    color: var(--GrayDark);
    font-family: "DM Serif Display";
    padding-block: 60px;
}

footer.line {
    border-color: var(--GrayLight)
}


#footer-bottom h3 {
    margin-bottom: 15px;
    color: var(--GrayDark)
}

#footer-bottom ul {
    padding: 0px;
}

#footer-bottom li {
    margin-bottom: 10px;
}
#footer-bottom a {
    color: var(--GrayMedium);
    text-decoration: none;
}

#footer-bottom a:hover {
    text-decoration: underline;
}
}


/* desktop view jumbotron (taken from assignments/demo-project */

@media (min-width: 756px) {
    #jumbotron {
      display: flex;
      flex-wrap: wrap;
    }

    #jumbotron-image, #jumbotron-text {
      width: 50%;
    }
    #jumbotron-text {
      display: flex;
      flex-direction: column;
      align-items: center; /* default value is stretch */
      justify-content: center; /* When working with flex-direction: column, justify-content refers to the verical alignment */
      gap: 10px;
    }
    }
    
    #jumbotron-text {
      padding: 1.5em;
      position: center;
    }
    
    #jumbotron-text h1 {
      color: var(--blue);
      font-size: 3.5em;
      font-weight: normal; /* Don't make the text bold */
      line-height: 1.25em;
      text-decoration: none;
      text-align: center;
    }
    
    #jumbotron-text p {
      color: white;
      margin: 1em 0; /* Add space above and below paragraph */
      line-height: 1.25em;
    }

    /* main section */
    @media (min-width: 762px) {
        main {
        background-color: white;
        text-align: center;
        padding: 20px 40px;
        border-top: 1px solid white;
        color: var(--GrayDark);
    }
    
    main h1 {
        color: var(--GrayDark);
        margin: 20px 0;
    }
    
    main #cards{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 30px;
        text-align: left;
    }
    
    #footer-bottom h3 {
        margin-bottom: 15px;
        color: var(--GrayDark)
    }
    
    #footer-bottom ul {
        padding: 0px;
    }
    
    #footer-bottom li {
        margin-bottom: 10px;
    }
    #footer-bottom a {
        color: var(--GrayMedium);
        text-decoration: none;
    }
    
    #footer-bottom a:hover {
        text-decoration: underline;
    }
    }


    /* navbar taken from my website */

    @media (max-width: 762px) {
        .navbar {
            display: none;
            position: absolute;
            top: 103px;
            left: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            overflow: hidden;
        }

        .navbar.open { display: block; }
        .navbar ul { flex-direction: column; width: 100%; text-align: center; }
        .mobile-menu-button { display: block; }
    }

    
        .navbar ul {
            list-style: none;
            display: flex;
        }
        
        .navbar li {
            margin-left: 20px;
        }
        
        .navbar a {
            color: rgb(0, 0, 0);
            font-size: var(--font-size-sm);
            font-weight: bold;
            padding: 12px 16px;
            border-radius: 0.5rem;
            text-decoration: none;
            transition: all .40s ease;
        }
        
        .navbar a:hover {
            background: rgb(75, 75, 75);
            color: rgb(255, 255, 255);
        }

               

        #footer-bottom {
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(4, 1fr);
            margin-top: 30px;
            text-align: left;
        }
        
/* mobile view footer */
@media (max-width: 762px) {
    footer {
        background-color: white;
        text-align: center;
        padding: 20px 40px;
        border-top: 1px solid white;
        color: var(--GrayDark);
    }


    footer h3 {
        color: var(--GrayDark);
        margin: 20px 0;
    }

    

    
    #footer-bottom {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
        margin-top: 30px;
        text-align: center;
    }
    #footer-bottom h3 {
        margin-bottom: 10px;
        color: var(--GrayDark)
    }
    #footer-bottom ul {
        padding: 0px;
    }
    #footer-bottom li {
        margin-bottom: 10px;
    }
    #footer-bottom a {
        color: var(--GrayMedium);
        text-decoration: none;
    }
    #footer-bottom a:hover {
        text-decoration: underline;
    }

}
